
/* MEDIA QUERY */
@media (min-width: 800px) {
    .split{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    /* NAVBAR */
    .hamburger{
      display: none;
    }
  
    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .nav-ul{
      position: static;
      flex-direction: row;
      background-color: transparent;
      height: 100%;
      justify-content: flex-end;
    }
  
    .nav-li{
      font-size: 1.5rem;
      margin-left: 2em;
    }
  
    .nav-a {
      position: relative;
    }
  
    .nav-a::before{
      content: '';
      width: 0%;
      position: absolute;
      height: 3px;
      background-color: #cc8c2d;
      bottom: -2px;
      transition: .3s ease;
    }
  
    .nav-a:hover::before{
      width: 100%;
    }
  
    /* HERO */
    .hero{
      text-align: left;
    }
  
    .hero-left{
      width: 40%;
    }
  
    /* COMPANY */
    .marque-fixed {
      background-color: #24225A;
      max-width: 70em;
      width: 100%;
      margin: 0 auto;
      border-radius: 10px;
    }
  
    .marque-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  
    .marque-list img:hover{
      opacity: 75%;
    }
  
    /* BUY */
    .buy h2{
      margin-top: 3em;
    }
  
    .buy h1 {
      margin-bottom: .5em;
    }
  
    .buy-left{
      width: 45%;
    }
  
    .buy-right {
      width: 50%;
      text-align: left;
    }
  
    /* BUY two */
    
    .buy-two {
      margin-top: 5em;
    }
  
    .buy-two h1 {
      margin-bottom: .5em;
    }
  
    .two-left {
      width: 45%;
      text-align: left;
    }
  
    .two-right {
      width: 40%;
    }
  
    /* TESTIMONIALS */
    .reviews {
      padding-top: 5em;
    }
  
    .grid-parent {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 3em;
    }
  
    /* EVENT */
    .event-wrap{
      padding: 10em;
    }
  
    .event h1 {
      font-size: 3.5rem;
    }
  
    /* FOOTER  */
  
    .row {
      display: flex;
      justify-content: space-between;
      padding-bottom: 3em;
    }
  
    .footer-a:hover {
      text-decoration: underline;
    }
  
    /* REUSABLES */
    .h1 {
      font-size: 4.25rem;
      line-height: 1;
    }
  
    /* ANIMATIONS */
    .hidden {
      opacity: 0;
      transition: .5s ease;
    }
  
    .hiddenb{
      opacity: 0;
      filter: blur(5px);
      transition: .5s ease;
    }
    .slide-right {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(100%);
      transition: .5s ease;
    }
  
    .slide-left {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: .5s ease;
    }
  
    .show {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
    }
  
  }
  
  
  
  
  
  
  @media (max-width:420px){
    .btn-wrap{
      display: flex;
      flex-direction: column;
    }
    .btn{
      margin-bottom: 1em;
    }
  }
  
  @media (max-width:1050px) and (min-width:800px) {
    .btn-wrap{
      display: flex;
      flex-direction: column;
    }
  
    .btn{
      text-align: center;
      margin-bottom: 1em;
    }
    .ghost {
      text-align: center;
    }
  }